.row__checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}

.product__image{
    height: 70px;
}

.product__quantity{
    color: grey;
}